<div class="container">
    <div class="wrapper row">
        <div class="col-4">
            <h1>Available Burgers to Eat!</h1>
            <ul>
                {{#each burgers}}
                {{#unless devoured}}
                <li>
                    {{burger_name}}
                    <button class="btn btn-small switch-devour" type="submit" data-id="{{id}}" data-eaten="{{devoured}}"></button>
                </li>
                {{/unless}}
                {{/each}}
            </ul>

        </div>
        <div class="col-4">
            <h1>Add a Burger!</h1>
            <form class= "center-align col-12" id="burgerForm">
                <input placeholder="Add a New Burger!" id="newBurger" type="text">
                <button class="btn btn-lg" type="submit">Make Burger</button>
            </form>
        </div>
        <div class="col-4">
            <h1>Devoured Burgers!</h1>
            <ul>
                {{#each burgers}}
                {{#if devoured}}
                <li>
                    {{burger_name}}
                </li>
                {{/unless}}
                {{/each}}
            </ul>
        </div>
    </div>
</div>